{% extends 'base.html.twig' %}

{% block body %}
    <h1>Advert creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="file" name="first_image">
        <input type="file" name="second_image">
        <input type="file" name="thrid_image"><br>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('advert_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
